.main-container {
    width: 100%;
}

.body-container {
    display: inline-flex;
    width: 100vw;
    align-items: center;
    height: 90vh;
    border-top: solid;
    border-top-color: lightgrey;
    border-top-width: 1.5px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 0.5%;
    padding-bottom: 1%;
    color: lightgray;
    font-weight: lighter;
}

.header-container {
    margin: 0;
    width: 100%;
    display: inline-block;
    text-align: left;
}

.logo {
    width: 12rem;
    margin: 1rem;
}

.input-container {
    font-family: 'Oswald', sans-serif;
    width: 45%;
    padding-left: 2%;
    height: 100%;
    border-right: solid lightgrey 1.5px;
}

.preview-container {
    font-family: arial, sans-serif;
    width: 45%;
    padding-left: 2%;
    margin-top: -35%;
}

.count-container {
    font-family: 'Oswald', sans-serif;
    width: 10%;
    font-size: small;
    margin-top: -35%;
    padding-left: 5%;
}

.preview-title {
    text-decoration: none;
    color:#033bbf;
    font-weight:normal;
    margin: 0;
    font-size: 18px !important;
}

.preview-title:hover {
    text-decoration: underline;
}

.preview-url {
    color: #006621;
    font-style: normal;
    margin: 0.2rem;
    font-size: 14px;
    display: inline-block;
}

.preview-description {
  color: #545454;
  font-size: small;
  line-height: 1.4;
  word-wrap: break-word;
  margin-top: 0.2rem;
}

.defaultColor {
    color: black
}

.warningColor {
    color: red
}

.optimalColor {
    color: green
}

.title-input {
    width: 30vw;
    height: 5vh;
    background-color: #DBE5E4;
    border: none;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 1%;
    font-family: 'Oswald', sans-serif;
}

.title-input:focus {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
}

.description-input {
    width: 35vw;
    height: 8vh;
    background-color: #DBE5E4;
    border: none;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 1%;
    font-family: 'Oswald', sans-serif;
}

.description-input:focus {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
}

.url-input {
    width: 20vw;
    height: 4vh;
    background-color: #DBE5E4;
    border: none;
    outline: none;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
    margin: 1%;
    font-family: 'Oswald', sans-serif;
}

.url-input:focus {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
    -moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.24);
}

.title-label {
    margin-left: 1%;
    color: #8d9aa6;
    text-transform: uppercase;
    font-size: small;
}

.url-label {
    margin-left: 1%;
    color: #8d9aa6;
    text-transform: uppercase;
    font-size: small;
}

button {
	background-color:white;
	display:inline-block;
	cursor:pointer;
	color: grey;
	font-size:15px;
	padding:6.5px 16px;
    text-decoration:none;
    border-radius: 3px;
}

.save-button:active {
	position:relative;
	top:1px;
}

.description-label {
    margin-left: 1%;
    color: #8d9aa6;
    text-transform: uppercase;
    font-size: small;
}